/* You can add global styles to this file, and also import other style files */

body {
    margin: auto;
    text-align: center;
    font-size:14px;
}

@media screen and (min-width: 760px) {
    body {
        margin: auto 60px;
    }
}

@media screen and (min-width: 1240px) {
    body {
        margin: auto 260px;
    }
}